body {
  text-align: center;
  font-weight: 700;
}

pre {
  border: 1px solid #d8d8d8;
  display: block;
  font-size: 13px;
  margin-bottom: 2em;
  padding: 1em;
  white-space: normal;
}

code {
  font-family: "Courier New", monospace;
  font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}